{% extends 'dashboard/layout.html' %}
{% load static %}
{% load dashboard_extras %}
{% block title %}APP | administrador{% endblock %} 
{% block style %}
<style>
    @page { size: auto;  margin: 0mm; }
    @media print {
        @page {
            margin-top: 0;
            margin-bottom: 0;
        }
        body  {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
    }

    .invoice {
        /*margin-right: -15px;
        margin-left: -15px;
        */
        padding-left: 15px;
        padding-right: 15px;
        max-width: 900px;
        font-size: 10px;
        margin: auto;
    }
    .invoice table {
        margin-bottom: 0;
    }
    .invoice .table>tbody>tr>td {
        padding: 2px;
        border-top: 0;
    }
    .bordered {
        border: 1px solid #000;
    }
    .b-t {
        border-top: 1px solid #000;
    }
    .b-b {
        border-bottom: 1px solid #000;
    }
    .b-r {
        border-right: 1px solid #000;
    }
    .b-l {
        border-left: 1px solid #000;
    }
    .m-0 {
        margin: 0;
    }
    .m-2 {
        margin: 8px;
    }
    .m-t-2 {
        margin-top: 8px;
    }
    .p-2 {
        padding: 8px;
    }
    .invoice  .dl-horizontal{
        margin: 0;
    }
    .invoice  .dl-horizontal dt{
        text-align: left;
    }
    .d-block {
        display: block;
        line-height: 1.2;
    }
    .d-flex {
        display: flex;        
    }
    .d-column {
        flex-direction: column;
    }
    .align-end {
        align-items: flex-end;
        justify-content: flex-end;
    }
    h4 {
        font-size: 14px;
    }
</style>
  
  <link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css"  type="text/css">
{% endblock %}
{% block body %}
<div class="content-main">
    <div class="page-header">      
        <a href="{% url 'dashboard:invoices' %}" id="list-view"><h2 style="display: inline;"> Boletas </h2> </a>  <h2 style="display: inline;">&nbsp/&nbsp Boleta</h2>
    </div>
</div>

<br>

<div class="invoice bordered d-flex d-column" id="invoice">
    <div class="row d-flex align-end">
        <div class="col-md-6">
            <h4>{{company.name}}</h4>
            <div class="d-block">{{company.address}}</div>
            <div class="d-block">RUC N° {{company.ruc}}</div>
        </div>
        <div class="col-md-6 text-right ">            
            <div class="d-block">DB N¬ 00-2022</div>
            <div class="d-block">Planilla Marzo 2021</div>
            <div class="d-block">Fecha de Pago 31/03/2021</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row text-center m-4"><h4>BOLETA DE REMUNERACIONES</h4></div>
    <div class="row ">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td>Codigo</td>
                    <td>12412412</td>
                </tr>
                <tr>
                    <td>Trabajador</td>
                    <td>Gutierrez Mamani Javier Carlos</td>
                </tr>
                <tr>
                    <td>Tipo</td>
                    <td>Trabajador</td>
                </tr>            
                <tr>
                    <td>Nro</td>
                    <td>4535438168</td>
                </tr>
                <tr>
                    <td>Fec. Nacimiento</td>
                    <td>23/02/1988</td>
                </tr>
            </table>                    
        </div>
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td>Codigo</td>
                    <td>12412412</td>
                </tr>
                <tr>
                    <td>Trabajador</td>
                    <td>Gutierrez Mamani Javier Carlos</td>
                </tr>
                <tr>
                    <td>Tipo</td>
                    <td>Trabajador</td>
                </tr>            
                <tr>
                    <td>Nro</td>
                    <td>4535438168</td>
                </tr>
                <tr>
                    <td>Fec. Nacimiento</td>
                    <td>23/02/1988</td>
                </tr>
            </table>                    
        </div>
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td>Codigo</td>
                    <td>12412412</td>
                </tr>
                <tr>
                    <td>Trabajador</td>
                    <td>Gutierrez Mamani Javier Carlos</td>
                </tr>
                <tr>
                    <td>Tipo</td>
                    <td>Trabajador</td>
                </tr>            
                <tr>
                    <td>Nro</td>
                    <td>4535438168</td>
                </tr>
                <tr>
                    <td>Fec. Nacimiento</td>
                    <td>23/02/1988</td>
                </tr>
            </table>                    
        </div>
    </div>    
    <div class="row m-t-2">
        <div class="col-md-4 b-b b-t">INGRESOS</div>
        <div class="col-md-4 b-l b-b b-t">DESCUENTOS</div>
        <div class="col-md-4 b-l b-b b-t">APORTACIONES EMPLEADOR</div>
    </div>
    <div class="row d-flex">
        <div class="col-md-4 b-b">
            <table class="table">
                <tr>
                    <td>Remuneración Basica</td>
                    <td>1000</td>                    
                </tr>
                <tr>
                    <td>Movilidad</td>
                    <td>1000</td>                    
                </tr>
            </table>           
        </div>
        <div class="col-md-4 b-l b-b">
            <table class="table">
                <tr>
                    <td>AFP Oportacion Obligat</td>
                    <td>10</td>
                    <td>385</td>
                </tr>
                <tr>
                    <td>AFP Oportacion Obligat</td>
                    <td>10</td>
                    <td>385</td>
                </tr>
                <tr>
                    <td>AFP Oportacion Obligat</td>
                    <td>10</td>
                    <td>385</td>
                </tr>
                <tr>
                    <td>AFP Oportacion Obligat</td>
                    <td>10</td>
                    <td>385</td>
                </tr>
            </table>            
        </div>
        <div class="col-md-4 b-l b-b">
            <table class="table">
                <tr>
                    <td>ESSALUD</td>
                    <td>9.00%</td>
                    <td>495.00</td>
                </tr>
                <tr>
                    <td>Seguo Vida Ley</td>
                    <td></td>
                    <td>495.00</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 b-b">
            <table class="table m-0">
                <tr>                    
                    <td>TOTAL INGRESOS</td>
                    <td>S/. 1358</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 b-b b-l">
            <table class="table m-0">
                <tr>                    
                    <td>TOTAL INGRESOS</td>
                    <td>S/. 1358</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 b-b b-l">
            <table class="table m-0">
                <tr>                    
                    <td>TOTAL INGRESOS</td>
                    <td>S/. 1358</td>
                </tr>
                </table>
        </div>
    </div>
    <div class="">        
        <p>Importe Abonnado a cuenta 135135135135 del banco de creado del Perú</p>
        <div class="text-center">
            <p>Neto a Pagar S/. <span class="bordered p-2 m-2">135813</span></p>
        </div>        
        <div></div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <hr/>
                <div class="text-center">
                    <div class="d-block">{{company.signer_name}}</div>
                    <div class="d-block">{{company.signer_title}}</div>
                </div>
            </div>
            <div class="col-md-2"></div>            
            <div class="col-md-3">
                <hr/>
                <div class="text-center">
                    <div class="d-block">Javier Gutierrez Mamani</div>
                    <div class="d-block">Gerente General</div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>  
        <div></div>     
    </div>
    <div class="m-t-2 clearfix"></div>    
</div>
<br/>
<div class="text-center">
<button class="btn btn-primary" id="printButton">
    Imprimir
  </button>
</div>
<br/>
<br/>
{% endblock %}
{% block more_scripts %}
<!-- <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script> -->
<script src="{% static 'dashboard/js/printjs.js' %}"></script>
<script>
    function print() {
        printJS({
            printable: 'invoice',
            type: 'html',
            targetStyles: ['*']
        });
    }
    document.getElementById('printButton').addEventListener ("click", print)
</script>
{% endblock %}
