{% load static %}
{% load dashboard_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/3.4/examples/dashboard/"
    />

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'rest_framework/css/bootstrap.min.css' %}"
    />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link
      href="https://getbootstrap.com/docs/3.4/assets/css/ie10-viewport-bug-workaround.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link
      href="https://getbootstrap.com/docs/3.4/examples/dashboard/dashboard.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>

    {% block style %} {% endblock %}
    <link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9
      ]><script src="../../assets/js/ie8-responsive-file-warning.js"></script
    ><![endif]-->
    <script src="https://getbootstrap.com/docs/3.4/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">APP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout' %}">Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">            
            General
          </strong>
          <ul class="nav nav-sidebar">
            <li class="nav-item">
              <a class="bd-links-link d-inline-block rounded {{'attendance'|active_if_path_match:request}}"
              href="{% url 'dashboard:attendance-list'%}">
                Asistencias
              </a>
            </li>
            <li class="nav-item">
              <a class="bd-links-link d-inline-block rounded {{'invoices'|active_if_path_match:request}}"
              href="{% url 'dashboard:invoices'%}">
                Boletas
              </a>
            </li>
          </ul>
          <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
            Configuraciones
          </strong>
          <ul class="nav nav-sidebar">           
            <li class="nav-item">
              <a class="bd-links-link d-inline-block rounded {{'employees'|active_if_path_match:request}}"
              href="{% url 'dashboard:employees-list'%}">
                Empleados
              </a>
            </li>

            <li class="nav-item">
              <a class="bd-links-link d-inline-block rounded {{'people'|active_if_path_match:request}}"
              href="{% url 'dashboard:people-list'%}">
                Personas
              </a>
            </li>
            <li class="nav-item">
              <a class="bd-links-link d-inline-block rounded {{'afp-onp'|active_if_path_match:request}}"
              href="{% url 'dashboard:afp-onp-list'%}">
                AFP/ONP
              </a>
            </li>
            <li class="nav-item">
              <a class="bd-links-link d-inline-block rounded {{'company'|active_if_path_match:request}}"
              href="{% url 'dashboard:company-list'%}">
                Empresa
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    {% block script %}
    <script src="{% static 'rest_framework/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'rest_framework/js/bootstrap.min.js' %}"></script>
    
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="../../assets/js/vendor/holder.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
     {% endblock %}     
     {% block more_scripts %}
     {% endblock %}     
     <script>
       $(document).ready(function() {
        {% if 'attendance'|active_if_path_match:request %}          
          const formatDate = (dateAt, timeAt) => {
            if(dateAt !== '' && timeAt !== '') {            
              console.log(`try with: -${dateAt}-${timeAt}-`)
              const date = new Date(Date.parse(`${dateAt}T${timeAt}:00`));
              date.setDate(date.getDate() + 1);
              const options = {
                year: "numeric",
                month: "2-digit",
                day: "2-digit",
                hour: "2-digit",
                minute: "numeric",              
                hour12: false,
              };
              return new Intl.DateTimeFormat("az", options).format(date);
            }
            return '';
          }
          
          const $tds = $("tbody>tr").first().find('td');
          const lastEmployName = $($tds[0]).text();
          const dateAt = $($tds[1]).text();
          const at1 = $($tds[2]).text();
          const endAt1 = $($tds[3]).text();
          const at2 = $($tds[4]).text();
          const endAt2 = $($tds[5]).text();

          const $start_at_1 = $('[name="start_at_1"]');
          const $end_at_1 = $('[name="end_at_1"]');
          const $start_at_2 = $('[name="start_at_2"]');
          const $end_at_2 = $('[name="end_at_2"]');

          $("[name='employ']").val($(`option:contains('${lastEmployName}')`).val())
          $start_at_1.val(formatDate(dateAt, at1))
          $end_at_1.val(formatDate(dateAt, endAt1))
          $start_at_2.val(formatDate(dateAt, at2))
          $end_at_2.val(formatDate(dateAt, endAt2))

          $start_at_1.on('change', function(e){
            const start_at_1 = $start_at_1.val();
            const end_at_1 = $end_at_1.val();
            if(end_at_1 === '' || end_at_1 < start_at_1) {
              $end_at_1.val(start_at_1);
            }
          });

          $end_at_1.on('change', function(e){
            const end_at_1 = $end_at_1.val();
            const start_at_2 = $start_at_2.val();
            if(start_at_2 !== '' &&  start_at_2 < end_at_1) {
              $start_at_2.val(end_at_1);
              $($start_at_2).trigger("change");
            }
          });

          $start_at_2.on('change', function(e){
            const start_at_2 = $start_at_2.val();
            const end_at_2 = $end_at_2.val();
            if(end_at_2 === '' || end_at_2 < start_at_2) {
              $end_at_2.val(start_at_2);
            }
          });
        {% endif %}
       });
     </script>
  </body>
</html>
